<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSUser" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.82:49844/WebServices/WSUser.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSUser"
                contract="M2LinkXamarin.WebServiceClients.IWSUser" name="BasicHttpBinding_IWSUser" />
        </client>
    </system.serviceModel>
</configuration>